@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins";
}

select,
option {
    background-color: transparent;
    padding: 30px;
    font-family: "Poppins";
    color: #fff;
    border: 0;
    box-shadow: 1px 1px 1px #ff80b6,
        -1px 1px 1px #c795ff,
        1px -1px 1px #58a0ff;
}

select {
    padding-left: 5px;
}

option {
    background-color: #2c2b25;
    color: #fff;
}

.all {
    display: flex;
    justify-content: center;
    padding: 40px;
    height: 100%;
    background-color: #1b1911;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 15px;
    background: linear-gradient(to right, #ff80b6, #c795ff, #58a0ff);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 5);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.box-link-header {
    margin-right: 10%;
}

.link-header {
    margin-left: 30px;
    color: #000;
}


input[type="text"] {
    border: 0;
    border-radius: 20px;
    width: 15%;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2),
        inset 3px 3px 5px rgba(0, 0, 0, .1);
}

.lupa {
    width: 50px;
    height: 50px;
    transform: translate(-50%);
    background-color: #000;
}

main {
    position: relative;
    background-color: #24231c;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    border-radius: 24px;
    padding: 3%;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
}


section {
    position: relative;
    width: 100%;
    height: 100%;
}

.ttl-h2 {
    position: absolute;
    z-index: 2;
    color: #fff;
    width: 100%;
    height: 50vh;
    padding: 3% 5%;
    background-color: rgba(255, 255, 255, .1);
    font-size: 1rem;
}

.ttl-h2 h2 {
    margin-bottom: 20px;
}

.poster {
    position: relative;
    width: 100%;
    height: 40vh;
    border-radius: 12px;
    background-color: #2c2b25;
    overflow: hidden;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .3);
}

.poster img {
    position: relative;
    width: 100%;
}


.populares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 30px;
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.populares input,
select {
    height: 30px;
    padding: 4px;
}

.box-box-jogos {
    position: relative;
    display: flex;
    justify-content: center;
}

.box-jogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #1b1911;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
}

.card {
    position: relative;
    border-radius: 12px;
    width: 18%;
    height: 40vh;
    background-color: #2c2b25;
    overflow: hidden;
}

.card:hover {
    scale: 1.04;
    transition-delay: 0.9s;
    transition: 0.5s;
}

.card img {
    position: absolute;
    width: 100%;
}

.card:hover img {
    transition: 0.5s;
    transition-delay: 0.5s;
    filter: blur(4px);
}

.card .box-img-logo {
    position: relative;
    padding: 10px;
    border-top: 12px solid #ff80b6;
    top: 252px;
    width: 100%;
    height: 100vh;
    transition: 1s;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1;
}


.card:hover .box-img-logo {
    border-top: 5px solid #58a0ff;
    top: 0px;
}

.nome-jogo {
    transition: 0.5s;

    margin-top: 30px;
    position: relative;
    top: 250px;
    color: #dedede;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .9);
}

.card:hover .nome-jogo {
    top: 0;
}

.hate {
    position: relative;
    top: 250px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.card:hover .hate {
    transition: 0.7s;
    top: 0px;
}

.gender {
    position: relative;
    top: 250px;
    text-align: center;
    width: 10px;
    height: 10px;
    padding: 5px 6px;
    border-radius: 12px;
    font-size: 0.5rem;
    color: #fff;
    background-color: #464540;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.card:hover .gender {
    transition: 1s;
    top: 0;
}

.outros-jogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #1b1911;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
}





@media (max-width:800px) {

    header {
        padding: 10px;
        font-size: 0.6rem;
    }


    input[type="text"] {
        border: 0;
        border-radius: 20px;
        width: 100px;
        padding: 2px;
    }
}





/* 
aside .poster {
    border: 1px solid #fff;
    width: 60vw;
    height: 50vh;
    box-shadow: 1px 1px 15px #ff80b6,
    -3px 3px 5px #c795ff,
    3px -3px 5px #58a0ff,
    inset 3px 3px 5px rgba(255, 255, 255, .18),
    inset -3px 3px 5px rgba(255, 255, 255, .1);
}

aside .chat {
    width: 25vw;
    height: 80vh;
    margin-left: 8%;
    border-radius: 12px;
    box-shadow: 1px 1px 1px #ff80b6,
    -1px 1px 1px #c795ff,
    1px -1px 1px #58a0ff;
} */