/*
 Cores hex
    #1b1911
    #383838
    
*/

body, h1, h2, h3{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

a {
    text-decoration: none;
    width: 100px;
    height: 100px;
}

header{
    position: fixed;
    top: 0;

    z-index: 99;
    width: 100%;
    box-shadow: 15px 15px 30px #000;
}

::selection{
    color: #11100b;
    background: var(--color-second);
}

.input-header {
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 2.5em;
    margin-right: 10px;
    cursor: pointer;
    font-family: "Poppins";
}

.input-header:hover{
    transition: 2s;
    animation-duration: 1s;
    color: black;
}

#input-src {
    width: 250px;
    height: 2.5em;
    border-radius: 20px;
    border: 0 none;
    
    text-decoration: none;
    padding: 10px;
    outline: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2),
        inset 3px 3px 5px rgba(0, 0, 0, .1);
}

#input-src::placeholder{
    color: black;
    font-family: "Poppins";
    font-style: oblique;
    font-size: 13px;
}   

.box-header{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    font-size: 1em;
    padding: 1vw;
    flex-wrap: wrap;
    
    background: linear-gradient( to right, var(--color-first), var(--color-second), var(--color-third));
    text-overflow: ellipsis;    
}

.a-header{
    text-decoration: none;
    color: #000;
    margin-left: 50px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.a-header:hover {
    transition: 1s;
    color: #fff;
}

.div-a-header{
    margin-right: 20px;
}

.main {
    padding: 15vw;
    font-size: 1.2em;
    display: block;
    justify-items: center;
    justify-content: center;
    text-align: start;
    background-color: var(--color-base);
    /*background-image: url("./controle.jpg");*/
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

.nofilter{
    filter: none;
}

.main2 {
    padding: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
    text-align: start;
    background-color: var(--color-base-second);
    color: #fff;
}

#h2-foo {
    padding: 20px;
    text-align: center;
    background-color: var(--color-base-second);
    color: #fff;
}

.card {
    position: relative;
    width: 230px;
    height: 300px;
    border-radius: 12px;
    background-color: #303030;
    background-color: #323232;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    overflow: hidden;
}
.card .img-foo::before{
    content: "";
    filter: blur(10px);
}

.card .img-foo img{
    position: absolute;
    width: 100%;
}

.card:hover {
    scale: 1.03;
}

.animate__slideInRight {
    animation-duration: 3s;
}

#p {
    animation-duration: 3.3s;
}

select, option{
    appearance: none;
    background: none;
    color: #000;
    font-family: "Poppins";
    border-radius: 20px;
    border: none;
}